body {
  background-color: #121212;
}
.deposit-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #3b3b3b;
  padding: 10px;
  margin: 0 auto;
}
.total {
  color: white;
}
